@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply flex flex-col min-h-screen font-body; /* Applies 100% height of screen to body */
  }

  main {
    @apply flex flex-1; /* display: flex, flex: 1; */
  }

  a {
    @apply no-underline text-neutral-800;
  }

  a:hover {
    @apply text-yellow-600; /* closest to 'goldenrod' */
  }

  header, footer {
    @apply flex bg-[cornsilk];
  }

  h1 {
    @apply text-5xl font-heading text-neutral-900
  }

  h2 {
    @apply text-2xl font-heading text-neutral-900;
  }

  p {
    @apply text-base font-body text-neutral-700 leading-relaxed;
  }
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  /* Applies 100% height of screen to body */
}

main {
  display: flex;
  flex: 1 1 0%;
  /* display: flex, flex: 1; */
}

a {
  --tw-text-opacity: 1;
  color: rgb(38 38 38 / var(--tw-text-opacity, 1));
  text-decoration-line: none;
}

a:hover, button:hover {
  --tw-text-opacity: 1;
  color: rgb(202 138 4 / var(--tw-text-opacity, 1));
  /* closest to 'goldenrod' */
}

header, footer {
  display: flex;
  --tw-bg-opacity: 1;
  background-color: rgb(255 248 220 / var(--tw-bg-opacity, 1));
}

h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgb(23 23 23 / var(--tw-text-opacity, 1));
}

  /* RECIPE SECTION */
  .recipe-section {
    background-color: bisque;
    display: flex;
    height: 100%;
    padding: 1rem 2rem;
    flex: 1;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .card {
    display: flex;
    flex-direction: row;
    background: #f0f0f0;
    border: 1px solid #ccc;
    padding: 0.75rem;
    flex: 1;
    gap: 1rem;
  }

  .thumbnail {
    flex: 1 1 33%; /* grow/shrink, base 33% width */
    max-width: 33%;
  }

  .thumbnail img {
  width: 100%;
  height: auto;
  display: block;
  }

  .card-content {
    flex: 2 1 67%; /* grow/shrink, base 67% width */
    display: flex;
    flex-direction: column;
    max-width: 67%;
  }

  .recipe-column > .card {
    min-width: 450px; /* Min width of recipe card */
  }

  .card-title {
    margin: 0 0 0.5rem;
    font-weight: bold;
  }
  /* RECIPE SECTION */

p {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(64 64 64 / var(--tw-text-opacity, 1));
}

.animate-me {
  opacity: 0;
  transform: scale(0.5);
}