@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply flex flex-col min-h-screen font-body text-primary; /* Applies 100% height of screen to body */
  }

  main {
    @apply flex flex-1;
  }

  a, button {
    @apply hover:text-hover;
  }

  a {
    @apply no-underline text-primary
  }

  header, footer {
    @apply flex bg-headerFooterBg;
  }

  h1 {
    @apply text-5xl font-heading p-2;
  }

  h2 {
    @apply text-2xl font-heading px-3 py-2;
  }

  p {
    @apply px-3 py-1;
  }

  button {
    @apply bg-hover rounded-lg transition-colors;
  }
}


body {
  font-family: "Poppins", sans-serif;
}

/* RECIPE SECTION */
.recipe-section {
  display: flex;
  height: 100%;
  padding: 1rem 2rem;
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dayDiv {
  height: 70px;
  width: 130px;
}

.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  flex: 1;
  padding: 0.25rem;
}

.thumbnail {
  flex: 1 1 33%;
  max-width: 33%;
}

.thumbnail img {
  width: 100%;
  max-height: 200px;
  object-fit: cover; /* Keeps aspect ratio while cropping if needed */
  display: block;
}

.card-content {
  flex: 2 1 67%;
  display: flex;
  flex-direction: column;
  max-width: 67%;
}

.recipe-column > .card {
  min-width: 450px;
}
/* RECIPE SECTION */

.animate-me {
  opacity: 0;
  transform: scale(0.5);
}
