<main>
  <section class="section-left">
    <h2>
      Hallå! Det är meningen att du ska ha en veckosedel här. Tryck på knappen. Just do it. Do it now.
    </h2>
  </section>

  <section class="section-right">

      <form action="recipes" method="post">
        <button>Ge mig recepten!</button>

      <section class="all-categories">
          <div class="category-protein">
              <h2>Protein</h2>
              <label><input type="checkbox" name="tag" value="tdb:6547" /> Kyckling</label><br/>
              <label><input type="checkbox" name="tag" value="tdb:6549" /> Fisk</label><br/>
              <label><input type="checkbox" name="tag" value="tdb:6594" /> Fläsk</label><br/>
              <label><input type="checkbox" name="tag" value="tdb:6600" /> Nöt</label>
          </div>
          <div class="category-veg">
              <h2>Veg</h2>
              <label><input type="checkbox" name="tag" value="tdb:6517" /> Veg</label>
          </div>
      </section>
      </form>
  </section>
</main>
