<main>
  <section class="recipe-section">
    <h2>
      (placeholder) Hallå! Det är meningen att du ska ha en veckosedel här. Tryck på knappen. Just do it. Do it now.
    </h2>
  </section>

  <section class="generator-section">

      <form action="recipes" method="post">
        <button class="recipe-button">Ge mig recepten!</button>

      <section class="all-categories">
          <div class="category-protein">
              <h3>Protein</h3>
              <label><input type="checkbox" name="tag" value="tdb:6547" /> Kyckling</label><br/>
              <label><input type="checkbox" name="tag" value="tdb:6549" /> Fisk</label><br/>
              <label><input type="checkbox" name="tag" value="tdb:6594" /> Fläsk</label><br/>
              <label><input type="checkbox" name="tag" value="tdb:6600" /> Nöt</label>
          </div>
          <div class="category-veg">
              <h3>Veg</h3>
              <label><input type="checkbox" name="tag" value="tdb:6517" /> Veg</label>
          </div>
      </section>
      </form>
  </section>
</main>