<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Maträttsgeneratorn</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <header class="header-section">
    <h1><a href="http://localhost:5005">Maträttsgeneratorn</a></h1>
    <nav class="nav-section">
      <a href="#">Mina favoritrecept (WIP)</a>
      <a href="#">Registrera dig (WIP)</a>
      <a href="#">Logga in (WIP)</a>
    </nav>
  </header>
<p>placeholder text Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, et aliquam? Qui nesciunt labore quas exercitationem voluptas sint maxime neque dolorem. Ipsum eum id tenetur iusto, provident incidunt! Nemo, fuga?</p>  
</body>