<main>
    <section class="recipe-section">
      <h2>Din framslumpade veckosedel – voilà!</h2>

      <div class="column day-column">
          <div class="card">Mån</div>
          <div class="card">Tis</div>
          <div class="card">Ons</div>
          <div class="card">Tor</div>
          <div class="card">Fre</div>
          <div class="card">Lör</div>
          <div class="card">Sön</div>
        </div>

        <div class="column recipe-column">
            <% if (typeof recipes !== 'undefined') { %>
              <% recipes.forEach((recipe, index) => { %>
                <div class="card">
                  <div class="card-content">
                    <p class="card-title"><%= recipe.title %></p>
                    <p class="card-source">
                      <a href="<%= recipe.url %>" target="_blank">Se recept</a>
                    </p>
                  </div>
                  <div class="save-button-container">
                    <button class="save-button">Spara</button>
                  </div>
                </div>
              <% }) %>
            <% } else { %>
              <div class="placeholder-for-error-page">
                <p>placeholder-for-error-page</p>
              </div>
            <% } %>
        </div>
    </section>
    

    <section class="generator-section">
      
      <form action="recipes" method="post">
        <button class="recipe-button">Ge mig recepten!</button>
      

      <h3>Vardagsrecept</h3>
      <label>Antal <input type="number" name="weekday" min="0" max="7"/></label>


      <h3>Helgrecept</h3>
      <label>Antal <input type="number" name="weekend" min="0" max="7" /></label>

      <section class="all-categories">
          <div class="category-protein">
              <h3>Protein</h3>
              <label><input type="checkbox" name="tag" value="tdb:6547" /> Kyckling</label><br/>
              <label><input type="checkbox" name="tag" value="tdb:6549" /> Fisk</label><br/>
              <label><input type="checkbox" name="tag" value="tdb:6594" /> Fläsk</label><br/>
              <label><input type="checkbox" name="tag" value="tdb:6600" /> Nöt</label>
          </div>
          <div class="category-veg">
              <h3>Veg</h3>
              <label><input type="checkbox" name="tag" value="tdb:6517" /> Veg</label>
          </div>
      </section>
      </form>
    </section>

  </main>