<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Maträttsgeneratorn</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <header class="header-section">
    <h1><a href="http://localhost:5005">Maträttsgeneratorn</a></h1>
    <nav class="nav-section">
      <a href="#">Mina favoritrecept (WIP)</a>
      <a href="#">Registrera dig (WIP)</a>
      <a href="#">Logga in (WIP)</a>
    </nav>
  </header>

  <main>
    <section class="recipe-section">
      <h2>Din framslumpade veckosedel – voilà!</h2>

      <div class="column day-column">
          <div class="card">Mån</div>
          <div class="card">Tis</div>
          <div class="card">Ons</div>
          <div class="card">Tor</div>
          <div class="card">Fre</div>
          <div class="card">Lör</div>
          <div class="card">Sön</div>
        </div>

        <div class="column recipe-column">
            <% if (typeof recipes !== 'undefined') { %>
              <% recipes.forEach((recipe, index) => { %>
                <div class="card">
                  <div class="card-content">
                    <p class="card-title"><%= recipe.title %></p>
                    <p class="card-source">
                      <a href="<%= recipe.url %>" target="_blank">Se recept</a>
                    </p>
                  </div>
                  <div class="save-button-container">
                    <button class="save-button">Spara</button>
                  </div>
                </div>
              <% }) %>
            <% } else { %>
              <div class="placeholder-for-error-page">
                <p>placeholder-for-error-page</p>
              </div>
            <% } %>
        </div>
    </section>
    

    <section class="generator-section">
      <div>
        <form action="recipes" method="post">
          <button class="recipe-button">Ge mig recepten!</button>
        </form>
        <h3>Vardagsrecept</h3>
        <label>Antal <input type="number" min="0" max="7"/></label>
      </div>
      <div>
        <h3>Helgrecept</h3>
        <label>Antal <input type="number" min="0" max="7" /></label>
      </div>
        <section class="all-categories">
            <div class="category-protein">
                <h3>Protein</h3>
                <label><input type="checkbox" /> Kyckling</label><br/>
                <label><input type="checkbox" /> Fisk</label><br/>
                <label><input type="checkbox" /> Fläsk</label><br/>
                <label><input type="checkbox" /> Nöt</label>
            </div>
            <div class="category-veg">
                <h3>Veg</h3>
                <label><input type="checkbox" /> Veg</label>
            </div>
        </section>
    </section>

  </main>
  <footer class="footer-section">
    <p>placeholder for Miki</p>
  </footer>
</body>
</html>
