<header class="header-section">
    <h1><a href="/matgeneratorn">Maträttsgeneratorn</a></h1>
    <nav class="nav-section">
      <a href="#">Mina favoritrecept (WIP)</a>
      <a href="#">Registrera dig (WIP)</a>
      <a href="#">Logga in (WIP)</a>
    </nav>
  </header>