<body>
<h2>Just nu kan du generera en veckosedel via "Ge mig recepten!"-knappen. Du kan också slumpa fram recept baserat på ett (1) kategorival, t.ex. Kyckling. Antal vardagsrecept och helgrecept ska lämnas tomma, då dessa inte är implementerade än. Observera att det fortfarande finns buggar.</h2>
  <section class="generator-section">
    <div>
      <form action="recipes" method="post">
        <button class="recipe-button">Ge mig recepten!</button>
      </form>
      <h3>Vardagsrecept</h3>
      <label>Antal <input type="number" min="0" max="7"/></label>
    </div>
    <div>
      <h3>Helgrecept</h3>
      <label>Antal <input type="number" min="0" max="7" /></label>
    </div>
      <section class="all-categories">
          <div class="category-protein">
              <h3>Protein</h3>
              <label><input type="checkbox" /> Kyckling</label><br/>
              <label><input type="checkbox" /> Fisk</label><br/>
              <label><input type="checkbox" /> Fläsk</label><br/>
              <label><input type="checkbox" /> Nöt</label>
          </div>
          <div class="category-veg">
              <h3>Veg</h3>
              <label><input type="checkbox" /> Veg</label>
          </div>
      </section>
  </section>
</body>