<section class="section-left p-1">
        <h2>Välkommen till Matgeneratorn – din personliga veckomeny på silverfat</h2>
        
        <div>
            <p>
                Idén till Matgeneratorn föddes ur ett vardagsproblem: min fru hade tröttnat på att leta efter recept varje vecka. 
                Ibland vill man inte bläddra i kokböcker eller scrolla i timmar – man vill bara få lite inspiration serverad direkt.
                <br>
                Det är precis vad Matgeneratorn gör.
            <br>
                Den här sidan är för dig som vill ha hjälp att komma på vad du ska laga i veckan.
                Kanske har du fastnat i samma gamla maträtter, kanske har du barn som är kräsna, eller så vill du bara prova något nytt. 
                Oavsett anledning så är Matgeneratorn här för att förenkla din matplanering.
            </p>
        </div>

        <div>
            <h2>Hur funkar det?</h2>
            <p>
                Det är enkelt. Du väljer en av fem olika kategorier (kyckling, fisk, fläsk, nöt eller vego) och trycker sedan på "Ge mig recepten!"-knappen.
                Vips, så har du en framslumpad veckosedel framför dig. Det går även utmärkt att inte bocka i någon kategori och låta Matgeneratorn slumpa från samtliga kategorier.
                Recepten hämtas från arla.se och samtliga recepts länkar leder till Arlas egna webbsida där du kan läsa mer, se ytterligare bilder och följa receptet steg för steg.
            </p>
        </div>

        <div>
            <h2>Kostar det något?</h2>
            <p>Nej, det är helt kostnadsfritt att använda tjänsten.</p>
        </div>

        <div>
            <h2>Ansvarsfriskrivning</h2>
            <p>
                Observera att jag inte har kontroll över innehållet på arla.se. 
                Jag tar därför inget ansvar för om recepten där är felaktiga, 
                saknar allergiinformation eller inte passar din kosthållning.
            </p>
        </div>
</section>
<section class="section-right py-2">
        <div class="cta-button">
            <h2><a href="recipes" class="button-link">Ta mig till receptgeneratorn!</a></h2>
        </div>
</section>