<body>
<h2>Här ska det stå fräck text om vad den här appen är till för. "Appen" är ett ganska fräsigt namn för en annars ganska simpel hemsida, men hey. I don't make the rules.</h2>
<p>Ännu mer placholder text! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur ex magnam, distinctio ipsam, recusandae quos sed eius et sunt sint velit aperiam! Repellat ratione sapiente eaque dolorum temporibus quidem a.</p>
  <section class="generator-section">
    <div>
      <p>Just nu fungerar bara "Ge mig recepten!"-knappen. Testa på.</p>
      <form action="recipes" method="post">
        <button class="recipe-button">Ge mig recepten!</button>
      </form>
      <p>Dessa features är ännu inte implementerade. Soon™.</p>
      <h3>Vardagsrecept</h3>
      <label>Antal <input type="number" min="0" max="7"/></label>
    </div>
    <div>
      <h3>Helgrecept</h3>
      <label>Antal <input type="number" min="0" max="7" /></label>
    </div>
      <section class="all-categories">
          <div class="category-protein">
              <h3>Protein</h3>
              <label><input type="checkbox" /> Kyckling</label><br/>
              <label><input type="checkbox" /> Fisk</label><br/>
              <label><input type="checkbox" /> Fläsk</label><br/>
              <label><input type="checkbox" /> Nöt</label>
          </div>
          <div class="category-veg">
              <h3>Veg</h3>
              <label><input type="checkbox" /> Veg</label>
          </div>
      </section>
  </section>
</body>