<body>
<h2>Här ska det stå fräck text om vad den här appen är till för. "Appen" är ett ganska fräsigt namn för en annars ganska simpel hemsida, men hey. I don't make the rules.</h2>
  <section class="generator-section">
    <h2>Placeholder for something else - perhaps a pathway to the recipe generator? In any case if the user is to be presented the recipe generator HERE, aka home page, there should be an additional POST route here, not just from /recipes.</h2>
    <!-- <div>
      <form action="recipes" method="post">
        <button class="recipe-button">Ge mig recepten!</button>
      </form>
      <h3>Vardagsrecept</h3>
      <label>Antal <input type="number" min="0" max="7"/></label>
    </div>
    <div>
      <h3>Helgrecept</h3>
      <label>Antal <input type="number" min="0" max="7" /></label>
    </div>
      <section class="all-categories">
          <div class="category-protein">
              <h3>Protein</h3>
              <label><input type="checkbox" /> Kyckling</label><br/>
              <label><input type="checkbox" /> Fisk</label><br/>
              <label><input type="checkbox" /> Fläsk</label><br/>
              <label><input type="checkbox" /> Nöt</label>
          </div>
          <div class="category-veg">
              <h3>Veg</h3>
              <label><input type="checkbox" /> Veg</label>
          </div>
      </section> -->
  </section>
</body>